@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 282 54% 49%;
    --primary-foreground: 210 40% 98%;

    --secondary: 282 54% 96%;
    --secondary-foreground: 282 54% 49%;

    --muted: 282 54% 96%;
    --muted-foreground: 282 10% 47%;

    --accent: 282 54% 96%;
    --accent-foreground: 282 54% 49%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 282 30% 91%;
    --input: 282 30% 91%;
    --ring: 282 54% 49%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 282 54% 4.9%;
    --foreground: 282 10% 98%;

    --card: 282 54% 4.9%;
    --card-foreground: 282 10% 98%;

    --popover: 282 54% 4.9%;
    --popover-foreground: 282 10% 98%;

    --primary: 282 54% 49%;
    --primary-foreground: 282 10% 98%;

    --secondary: 282 30% 17.5%;
    --secondary-foreground: 282 10% 98%;

    --muted: 282 30% 17.5%;
    --muted-foreground: 282 10% 65.1%;

    --accent: 282 30% 17.5%;
    --accent-foreground: 282 10% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 282 10% 98%;

    --border: 282 30% 17.5%;
    --input: 282 30% 17.5%;
    --ring: 282 54% 49%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}